.navbar {
  background-color: #d6d6d6;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Añadido para separar título y hamburguesa en móvil */
  width: 100%; /* Ocupar todo el ancho en móvil */
}

.navbar-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  margin-right: 20px;
}

.navbar-menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navbar-menu-right {
  display: flex;
  align-items: center;
}

.navbar-item {
  margin-right: 15px;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: color 0.3s ease;
  padding: 8px 12px;
  border-radius: 5px;
}

.navbar-item:hover {
  color: #007bff;
  background-color: rgba(0, 123, 255, 0.1);
}

.navbar-item.navbar-cart {
  display: flex;
  align-items: center;
  color: #555;
}

.navbar-item.navbar-cart:hover {
  color: #007bff;
  background-color: rgba(0, 123, 255, 0.1);
}

.navbar-item.navbar-login {
  color: #fff;
  background-color: #007bff;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar-item.navbar-login:hover {
  background-color: #0056b3;
}

.navbar-item.navbar-logout {
  color: #fff;
  background-color: #dc3545;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navbar-item.navbar-logout:hover {
  background-color: #c82333;
}

.navbar-item.icon {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

.hamburger-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: none; /* Ocultar por defecto en escritorio */
}

.hamburger-button .icon {
  width: 25px;
  height: 25px;
  color: #333;
}

/* Estilos para la versión móvil */
@media (max-width: 768px) {
  .navbar {
    position: static; /* Hacer el navbar estático en móvil */
  }

  .navbar-menu {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 60px; /* Ajustar según la altura del navbar */
    right: 0;
    background-color: #f8f9fa;
    width: 100%;
    border-top: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    display: none; /* Ocultar por defecto en móvil */
    z-index: 101; /* Asegura que esté por encima de la HeroImage y otros elementos */
  }

  .navbar-menu.open {
    display: block; /* Mostrar el menú cuando la clase 'open' está activa */
  }

  .navbar-item {
    margin: 10px 20px;
    display: block;
  }

  .navbar-menu-right {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-item.navbar-logout {
    margin-top: 10px;
    margin-left: 20px;
  }

  .navbar-item.navbar-login {
    margin-left: 20px;
  }

  .hamburger-button {
    display: block; /* Mostrar el botón hamburguesa en móvil */
  }

  .navbar-title {
    margin-right: 0; /* Ajustar margen del título en móvil */
  }
}
