/* components/ReviewCard.css */
.review-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.author {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.rating {
  color: gold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.star {
  color: #ccc; /* Estrellas vacías */
}

.filled {
  color: gold; /* Estrellas llenas */
}

.text {
  color: #555;
  line-height: 1.5;
}
